# Define output directory for photos.
pictures_directory: "~/Images"
# Define log path
# log: "./photobooth.log"
# Define resolution settings
resolution:
  width: 800
  height: 600
# Set language dictionary
languages:
  fr:
    title: "Mon Photomaton"
    buttons:
      take_pictures: "Prendre photo"
  en:
    title: "My Photobooth"
    buttons:
      take_pictures: "Take picture"
